<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand d-none d-md-block" href="#">Navbar</a>
	<button class="navbar-toggler border-0" (click)="toggleSidebar()" type="button" aria-expanded="false" aria-label="Toggle Sidebar">
		<i class="fa fa-bars"></i>
	</button>
	<a class="navbar-brand d-block d-md-none" href="#">Navbar</a>
	<button class="navbar-toggler border-0" (click)="toggleSetting()" type="button" aria-expanded="false" aria-label="Toggle Setting">
		<i class="fa fa-bars"></i>
	</button>
</nav>