<div class="container">
	<div class="row">
		<div class="col-md-12 mt-3">
			<a [routerLink]="['/admin/tasks/create']" class="btn btn-default btn-lg">
				Create
			</a>
			<table class="table mt-3">
				<thead>
					<tr>
						<th>Todo</th>
						<th>Parent</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let task of tasks">
						<td>{{ task.todo }}</td>
						<td>{{ task.parents | parentsTodo }}</td>
						<td>
							<a [routerLink]="['/admin/tasks/edit', task.id]" class="btn btn-success">EDIT</a>
							<button class="btn btn-danger" type="button" (click)="deleteTask(task.id)">DELETE</button>
						</td>
					</tr>
				</tbody>
			</table>
			<ngx-graph
			  class="chart-container"
			  [links]="graph.links"
			  [nodes]="graph.nodes"
			  [curve]="curve">

			  <ng-template #defsTemplate>
			    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
			      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
			    </svg:marker>
			  </ng-template>

			  <ng-template #nodeTemplate let-node>
			    <svg:g class="node"
			      ngx-tooltip
			      [tooltipPlacement]="'top'"
			      [tooltipType]="'tooltip'"
			      [tooltipTitle]="node.label">
			      <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
			      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
			    </svg:g>
			  </ng-template>

			  <ng-template #linkTemplate let-link>
			    <svg:g class="edge">
			      <svg:path
			        class="line"
			        stroke-width="2"
			        marker-end="url(#arrow)" >
			      </svg:path>
			    </svg:g>
			  </ng-template>

			</ngx-graph>
		</div>
	</div>
</div>