<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mt-3">
			<form (ngSubmit)="createTask()" #taskForm="ngForm">
				<div class="form-group">
					<label for="todo">Todo</label>
					<input class="form-control" name="todo" placeholder="Todo" [(ngModel)]="task.todo" />
				</div>
				<div class="form-group">
					<label>Parents</label>
					<select2 [data]="taskOptions | async" [options]="options" [value]="task.parent_ids" (valueChanged)="selectChanged($event)" style="width: 100%; display: block"></select2>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="submit">Submit</button>
					<a [routerLink]="['/admin/tasks']" class="btn">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>