/* You can add global styles to this file, and also import other style files */
body
	font-size: .875rem;
	color: #23282c;
	background-color: #e4e5e6;

.select2-container
	width: 100% !important;

.ngx-charts-outer
	width: auto !important;
	height: 300px;
	border: 1px solid;
	overflow: hidden;