/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~select2/dist/css/select2.min.css";

.select2-container {
	width: 100% !important;
}

.ngx-charts {
	border: 1px solid;
}